vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Dec 2015 14:17:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|zarate/comercio_basico.html zarate/expo.html
vti_author:SR|PAVILION\\BBY
vti_modifiedby:SR|PAVILION\\BBY
vti_timecreated:TR|19 Dec 2015 14:17:08 -0000
vti_cacheddtm:TX|19 Dec 2015 14:17:08 -0000
vti_filesize:IR|1398
vti_cachedlinkinfo:VX|S|green.png S|green@2x.png
vti_cachedsvcrellinks:VX|FSUS|zarate/iCheck/green.png FSUS|zarate/iCheck/green@2x.png
